* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

[class*=col] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}

.container {
    padding: 1%;
}

.container header h1 {
    font-size: 40px;
    text-align: center;
}

.container header .content p {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

.container main #boxes .container {
    background: rgb(212, 212, 212);
}

.container main #boxes .box {
    text-align: center;
    width: 32%;
    background: rgb(254, 253, 253);
    margin: 1% 0 0 1%;
}

.container main #boxes .box .row {
    background: rgb(254, 253, 253);
}

.container main #boxes .box .icon i {
    padding: 5%;
    font-size: 35px;
}

.container main #boxes .box .title {
    font-size: 20px;
    padding-bottom: 5%;
}

.container main #boxes .box .content {
    font-size: 15px;
    padding-bottom: 5%;
}

.container footer button {
    border: none;
    background-color: rgba(246,192,25);
    color: white;
    width: 100px;
    margin-top: 2%;
    margin-left: 47%;
    padding: 5px;
}